/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.hometitle { /* Background-image */
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(https://images6.alphacoders.com/117/1178160.jpg); /* https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.oslomet.no%2Fen%2Fabout%2Fkjeller-campus&psig=AOvVaw3JhxQVrJEcwKteNS868h4O&ust=1700672023828000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJijxJHH1YIDFQAAAAAdAAAAABAE - Oslomet.no*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  color: white;
  max-width: 100%;
}

  .hometitle p { /* Text on background image */
    color: papayawhip;
    padding-left: 17.5%;
    padding-right: 17.5%;
    padding-top: 2%;
  }



.home-box { /* Styling for each of the boxes in home */
  border-radius: 10px;
  border: solid 2px black;
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
}

.introduction { /* Grid for the boxes */
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}

  .introduction img {
    max-width: 100%;
  }

  .introduction a {
    text-decoration: none;
    color: #313131;
  }

    .introduction a:hover {
      color: darkgray;
    }
