/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.hometitle { /* Background-image */
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(https://wallpaperfx.com/view_image/mountain-luxury-villa-1920x1080-wallpaper-12800.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  color: white;
  max-width: 100%;
}

  .hometitle p { /* Text on background image */
    color: papayawhip;
    padding-left: 17.5%;
    padding-right: 17.5%;
    padding-top: 2%;
  }



.home-box { /* Styling for each of the boxes in home */
  border-radius: 10px;
  padding: 30px;
  background-color: #ffffff;
  text-align: center;
}

.introduction { /* Grid for the boxes */
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}

  .introduction img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .introduction a {
    text-decoration: none;
    color: #313131;
  }

    .introduction a:hover {
      color: darkgray;
    }

.home-text {
  text-align: center;
  padding: 30px;
  margin: 30px;
  box-shadow: 10px 14px 8px 10px rgba(0, 0, 0, 0.2);
  background-color: #313131;
  color: white;

}

.home-text:hover{
}


@media (max-width: 1024px) {
  .introduction {
    grid-template-columns: 1fr; /* Grid styling that has one box in each row on small screen */
  }
  .listings {
    grid-template-columns: 1fr !important;
  }
}

#listings-title{
    text-align: center;
    margin: 20px;
    padding: 40px;
 
}

.listings{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin: 20px;
}

  .listings img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-radius: 10px 10px 0 0; /* Specific radius for top corners */
  }

.listings-box {
  background-color: #313131;
  border-radius: 10px; /* Specific radius for top corners */
  color: white;
  text-align: center;
  padding: 10px;
  margin: 20px;
}
.listings-box:hover{
  transform: scale(1.03);
}

.listings-box a{
    text-decoration: none;
    color: white;
}

.listings-box a:hover{
    color: gray;
}

.container-end li {
  text-align: center;
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 1.8;
  /* Use flex for hanging bullets */
  /* Remove 'display' for inline bullets */
  display: flex;
}

  .container-end {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.container-end h1{
  text-align: center;
  font-style: italic;
  border-bottom: 1px solid #313131;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
