

<div class="hometitle">
  <!-- Background Image -->
  <h1>LosCasa</h1>
  <p> </p>
</div>

<div class="home-text">
  <p> Discover the perfect blend of comfort and style with LosCasa, where your dream home awaits. Whether you're seeking a cozy apartment, a spacious family house, or a stylish urban loft, we have curated a diverse collection of exceptional rental properties to suit every lifestyle. </p>
  <p> At LosCasa, we understand that home is not just a place; it's a feeling. Our mission is to connect you with the ideal living space that resonates with your unique preferences and needs. With a user-friendly platform and an extensive selection of properties, finding your next home has never been this effortless.</p>
</div>

<div class="introduction">
  <!-- Introduction Grid, with all three link  -->

  <div class="home-box">
    <img src="https://static.vecteezy.com/system/resources/previews/024/029/796/original/house-black-and-white-icon-clipart-transparent-background-free-png.png" alt="Owner Static.vecteezy.com">
    <a href="http://localhost:44480/"><h1> Home</h1></a> <!-- Campus website -->
    <br>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis placeat harum voluptatum accusamus, ipsa fugit repudiandae odit vitae, ut eum laudantium vero nesciunt. Non ea voluptatem possimus laborum deserunt.</p>
  </div>

  <div class="home-box">
    <img src="https://www.svgrepo.com/download/3887/list.svg" alt="Owner flaticon.com">
    <a href="http://localhost:44480/listings"><h1> Listings </h1></a> <!-- Accesibility website  -->
    <br>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa perspiciatis eaque praesentium earum maxime dolorum sit qui nulla at quasi, animi ipsum rerum quae explicabo illo iusto voluptatum dolore atque!</p>
  </div>

  <div class="home-box">
    <img src="https://i.pinimg.com/originals/33/25/db/3325db82546a2fba0fc26ab9c4c15215.jpg" alt="Owner Pinimg.com">
    <a href="topical.html"><h1> RentDetails</h1></a> <!-- Topic Website  -->
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem nam quisquam, temporibus ducimus nulla modi deserunt amet? Sed beatae sit dicta hic dolorum iusto facilis eaque ducimus? Veniam, eum dolores.</p>
  </div>

</div>

<div id="listings-title">
  <h1>Listings:</h1>
</div>
<div class="listings">
  <div class="listings-box">
    <img src="https://preview.redd.it/dxj3c908qoa31.jpg?auto=webp&s=e271210359a968079a0d4f8831a771f3a2775d57" alt="" />
    <br />
    <br />
    <h1> Leilighet </h1>

  </div>

  <div class="listings-box">
    <img src="https://preview.redd.it/dxj3c908qoa31.jpg?auto=webp&s=e271210359a968079a0d4f8831a771f3a2775d57" alt="" />
    <br />
    <br />
    <h1> Leilighet </h1>

  </div>

  <div class="listings-box">
    <img src="https://preview.redd.it/dxj3c908qoa31.jpg?auto=webp&s=e271210359a968079a0d4f8831a771f3a2775d57" alt="" />
    <br />
    <br />
    <h1> Leilighet </h1>

  </div>

  <div class="listings-box">
    <img src="https://preview.redd.it/dxj3c908qoa31.jpg?auto=webp&s=e271210359a968079a0d4f8831a771f3a2775d57" alt="" />
    <br />
    <br />
    <h1> Leilighet </h1>
  </div>
</div>
