

<div class="hometitle">
  <!-- Background Image -->
  <h1>LosCasa</h1>
  <p> </p>
</div>

<div class="introduction">
  <!-- Introduction Grid, with all three link  -->
  <div class="home-box">
    <img src="https://cdn-icons-png.flaticon.com/512/8224/8224776.png" alt="Owner flaticon.com">
    <a href="Accessiblity.html"><h1> Accessibility </h1></a> <!-- Accesibility website  -->
    <br>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa perspiciatis eaque praesentium earum maxime dolorum sit qui nulla at quasi, animi ipsum rerum quae explicabo illo iusto voluptatum dolore atque!</p>
  </div>

  <div class="home-box">
    <img src="https://i.pinimg.com/originals/33/25/db/3325db82546a2fba0fc26ab9c4c15215.jpg" alt="Owner Pinimg.com">
    <a href="topical.html"><h1> Topical</h1></a> <!-- Topic Website  -->
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem nam quisquam, temporibus ducimus nulla modi deserunt amet? Sed beatae sit dicta hic dolorum iusto facilis eaque ducimus? Veniam, eum dolores.</p>
  </div>

  <div class="home-box">
    <img src="https://static.vecteezy.com/system/resources/previews/024/029/796/original/house-black-and-white-icon-clipart-transparent-background-free-png.png" alt="Owner Static.vecteezy.com">
    <a href="place1.html"><h1> Campus</h1></a> <!-- Campus website -->
    <br>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis placeat harum voluptatum accusamus, ipsa fugit repudiandae odit vitae, ut eum laudantium vero nesciunt. Non ea voluptatem possimus laborum deserunt.</p>
  </div>
</div>
<div>
  <iframe src="https://www.google.com/maps/place/SkyPark+Observation+Deck/@1.2889625,103.8264529,16818m/data=!3m1!1e3!4m6!3m5!1s0x27baf2df51fe139:0x82b824e6b7d4033!8m2!3d1.2852044!4d103.8610313!16s%2Fg%2F11c6v4y7rd?hl=no&entry=ttu"> </iframe>
</div>
