

<div class="hometitle">
  <!-- Background Image -->
  <h1>LosCasa</h1>
  <p> </p>
</div>

<div class="introduction">
  <!-- Introduction Grid, with all three link  -->

  <div class="home-box">
    <a href="http://localhost:44480/">
      <img src="https://static.vecteezy.com/system/resources/previews/024/029/796/original/house-black-and-white-icon-clipart-transparent-background-free-png.png" alt="Owner Static.vecteezy.com">
      <h1> Home</h1>
    </a> <!-- Campus website -->
    <br>
  </div>

  <div class="home-box">
    <a href="http://localhost:44480/listings">
      <img src="https://www.svgrepo.com/download/3887/list.svg" alt="Owner flaticon.com">
      <h1> Listings </h1>
    </a> <!-- Accesibility website  -->
    <br>
  </div>

  <div class="home-box">
    <a href="http://localhost:44480/rentdetails">
      <img src="https://www.svgrepo.com/show/139502/rent-sign.svg" alt="Owner Pinimg.com">
      <h1> RentDetails</h1>
    </a> <!-- Topic Website  -->
    <br>
  </div>
</div>

<div class="home-text">
  <p> Discover the perfect blend of comfort and style with LosCasa, where your dream home awaits. Whether you're seeking a cozy apartment, a spacious family house, or a stylish urban loft, we have curated a diverse collection of exceptional rental properties to suit every lifestyle. </p>
  <p> At LosCasa, we understand that home is not just a place; it's a feeling. Our mission is to connect you with the ideal living space that resonates with your unique preferences and needs. With a user-friendly platform and an extensive selection of properties, finding your next home has never been this effortless.</p>
</div>

<div id="listings-title">
  <h1>Listings:</h1>
</div>
<div class="listings">
  <div class="listings-box">
    <img src="https://boligpartner-cdn.imgix.net/uploads/boligpartner/4UNRlfoqVHoeKloaH4OSqVShvAXIOMfANooa65gN.jpg?fit=crop&crop=focalpoint&fp-debug=false&auto=format" alt="" />
    <br />
    <br />
    <h1> Hytte </h1>
    <p> Stor Villa</p>
    <h2> Price: kr. 1200</h2>
    <a href="http://localhost:44480/listingdetail/1"> Explore this listing!</a>
  </div>

  <div class="listings-box">
    <img src="https://boligpartner-cdn.imgix.net/uploads/boligpartner/4UNRlfoqVHoeKloaH4OSqVShvAXIOMfANooa65gN.jpg?fit=crop&crop=focalpoint&fp-debug=false&auto=format" alt="" />
    <br />
    <br />
    <h1> Hytte </h1>
    <p> Stor Villa</p>
    <h2> Price: kr. 1200</h2>
    <a href="http://localhost:44480/listingdetail/1"> Explore this listing!</a>
  </div>

  <div class="listings-box">
    <img src="https://boligpartner-cdn.imgix.net/uploads/boligpartner/4UNRlfoqVHoeKloaH4OSqVShvAXIOMfANooa65gN.jpg?fit=crop&crop=focalpoint&fp-debug=false&auto=format" alt="" />
    <br />
    <br />
    <h1> Hytte </h1>
    <p> Stor Villa</p>
    <h2> Price: kr. 1200</h2>
    <a href="http://localhost:44480/listingdetail/1"> Explore this listing!</a>
  </div>

  <div class="listings-box">
    <img src="https://boligpartner-cdn.imgix.net/uploads/boligpartner/4UNRlfoqVHoeKloaH4OSqVShvAXIOMfANooa65gN.jpg?fit=crop&crop=focalpoint&fp-debug=false&auto=format" alt="" />
    <br />
    <br />
    <h1> Hytte </h1>
    <p> Stor Villa</p>
    <h2> Price: kr. 1200</h2>
    <a href="http://localhost:44480/listingdetail/1"> Explore this listing!</a>
  </div>
</div>


<div class="container-end">
  <h1> Why choose us: </h1>
  <ul>
    <li> <p> Diverse Selection: Explore a wide range of rental options, from modern city apartments to charming suburban homes. Our carefully curated listings ensure that you find a residence that aligns perfectly with your vision of home. </p> </li>
    <li> <p> User-Friendly Experience: Navigating LosCasa is a breeze. Our intuitive platform allows you to filter and search for properties based on your specific criteria, making the house-hunting process enjoyable and efficient. </p> </li>
    <li> <p> Transparent Information: We believe in transparency. Detailed property listings provide comprehensive information about each home, including features, amenities, and neighborhood highlights, empowering you to make informed decisions. </p> </li>
    <li> <p> Secure Transactions: Your security is our priority. LosCasa facilitates secure transactions and ensures that your personal information is handled with the utmost confidentiality. </p> </li>
  </ul>
</div>


