body {
}

/* Add this CSS to your styles file */
.rentids {
  border-bottom: 1px solid #ccc; /* Add a border between li elements */
  padding: 10px; /* Add some padding for spacing */
  margin: 0; /* Remove default margin */
  list-style-type: none; /* Remove bullet points for list items */
  /* Add box shadow for a nice effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: solid 2px #313131;
}

.rentids:hover{
    transform: scale(1.05)
}


div {
  margin-bottom: 30px; 
}

p {
  font-style: italic; 
  color: #888; 
}
