body {
}

.combined-details-title { /* Title*/
  text-align: center;
  margin-bottom: 40px;
}
/* Add this CSS to your styles file */
ul { /* Styling the grid, and making it look clean */
  border-bottom: 1px solid #ccc; /* Add a border between li elements */
  padding: 10px; /* Add some padding for spacing */
  list-style-type: none; /* Remove bullet points for list items */
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: solid 2px #313131;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  grid-gap: 35px;
}


ul img{
    width: 60%;
    height: auto;
}
ul:hover{
    transform: scale(1.005)
}

li {
  font-style: italic; 
  color: #888; 
}

#knapp { /* Styling button */
  padding: 20px;
  margin: 10px;
  justify-self: end;
  margin-right: auto;
}


@media (max-width: 1300px) {
  /* Making it responsive */
  ul {
    grid-template-columns: 1fr; /* Grid styling that has one box in each row on small screen */
  }
}
