<!-- combined-details.component.html -->
<div *ngIf="combinedDetails.length > 0">
  <h2 class="combined-details-title">Combined Details:</h2>
  <ul>
    <li *ngFor="let combinedDetail of combinedDetails" class="combined-details">
      Rent ID: {{ combinedDetail.rent.rentId }},
      Listing ID: {{ combinedDetail.rent.listingId }},
      User ID: {{ combinedDetail.rent.userId }},
      Price: {{ combinedDetail.rent.price }},
      <!-- Add more details as needed -->
      Listing Details:
      Name: {{ combinedDetail.listing.Name }},
      Price: {{ combinedDetail.listing.Price }},
      Description: {{ combinedDetail.listing.Description }},
      <!-- Add more details as needed -->
    </li>
  </ul>
</div>
<div *ngIf="combinedDetails.length === 0">
  <p>No combined details available.</p>
</div>
