<!-- combined-details.component.html -->
<div *ngIf="combinedDetails.length > 0">
  <h2 class="combined-details-title">Combined Details:</h2>
  <ul>
    <li *ngFor="let combinedDetail of combinedDetails" class="combined-details">
      <ul>
        <li>Rent ID: {{ combinedDetail.rent.rentId }}</li>
        <li>Listing ID: {{ combinedDetail.rent.listingId }}</li>
        <li>Totalprice: {{ combinedDetail.rent.price }}</li>
        <li>Name: {{ combinedDetail.listing.Name }}</li>
        <li>PricePerNight: {{ combinedDetail.listing.Price }}</li>
        <li>Description: {{ combinedDetail.listing.Description }}</li>
        <li>StartDate: {{ combinedDetail.rent.startDate }}</li>
        <li>EndDate: {{ combinedDetail.rent.endDate }}</li>
        <li><img [src]="combinedDetail.listing.ImageUrl" alt="Image of {{ combinedDetail.listing.Name }}" class="listing-image"></li>
        <a (click)="deleteRent(combinedDetail.rent)" class='btn btn-danger'>Delete Rent</a>


        <!-- Add more details as needed -->
      </ul>
    </li>
  </ul>
</div>
<div *ngIf="combinedDetails.length === 0">
  <p>No combined details available.</p>
</div>
