<div *ngIf="listing" class="listing-detail">
  <div class="listing-info">
    <h2>{{ listing.Name }}</h2>

    <p class="listing-price">Price: {{ listing.Price | currency:'NOK ':true }}</p>
    <p class="listing-description">{{ listing.Description }}</p>
    <p class="listing-rooms">{{ "Antall Rom:" + " " + listing.Rooms }}</p>
    <p class="listing-toilets">{{ "Antall Toalett: " + listing.Toilets }}</p>
    <p class="listing-area">{{ "KvadratMeter: " + listing.Area }}</p>
    <p class="listing-address">{{"Adresse: " + listing.Address }}</p>    <br />
    <br />
    <br />
    <br />
   
    <button [routerLink]="['/rents', listing.ListingId]" class="btn btn-success">Rent this Listing</button>
    <br />
    <button (click)="goBack()" class="btn btn-primary">Back to Listings</button>
    <br />


  </div>
  <div>
    <img [src]="listing.ImageUrl" alt="Image of {{ listing.Name }}" class="listing-image">
    <img [src]="listing.AdditionalImageUrl" alt="Image of {{ listing.Name }}" class="listing-image">
  </div>
</div>
<div *ngIf="!listing" class="no-listing">
  <p>Listing not found.</p>
</div>
