thead {
  color: blue;
}

.delete-link {
  margin-left: 8px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.hover-effect:hover {
  transform: scale(1.05);
  cursor: pointer;
  /* Add any other hover styles you want */
}
