<h1 id="tableLabel">List of Listings ({{viewTitle}} View)</h1>

<div class='row'>
  <div class='col-md-2'>Filter by:</div>
  <div class='col-md-4'>
    <input type='text' [(ngModel)]='listFilter' />
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <h4>Filtered by: {{listFilter}}</h4>
  </div>
</div>

<div class='row'>
  <div *ngFor='let listing of filteredListings' class='col-md-4'>
    <div class='card' style="width: 20rem;">
      <img class='card-img-top' [src]='listing.ImageUrl' alt='Card image cap'>
      <div class='card-body'>
        <h5 class='card-title'>{{ listing.Name }}</h5>
        <p class='card-text'>{{ listing.Description }}</p>
        <p class='card-text'>Price: {{ listing.Price | convertToCurrency: 'kr.' }}</p>
        <a [routerLink]="['/listingform', 'edit', listing.ListingId]" class='btn btn-primary'>Update</a>
        <a (click)="deleteListing(listing)" class='btn btn-danger'>Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <button class='btn btn-primary' [routerLink]="['/listingform', 'create', -1]">Create New Listing</button>
  </div>
</div>
