thead {
  color: blue;
}

.delete-link {
  margin-left: 8px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.hover-effect:hover {
  transform: scale(1.01);
  cursor: pointer;
  /* Add any other hover styles you want */
}
#createbutton{
    margin-bottom: 20px;
}

img{
max-width: 100%;
height: 300px;
}


.card-body {
  max-width: 100%;
  height: auto;
  padding: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  border-radius: 70px;
}

@media screen and (max-width: 1800px) { /*Making it responsive*/
  .col-md-4 {
  grid-template-columns: 1fr;
  }
}

.card{
    margin-top: 50px;
   
}
.toggle-button {
  background-color: black; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
  border: none;
  border-radius: 20%; /* Make it circular */
  padding: 6px;
  padding-left: 10px;
  cursor: pointer;
  position: absolute;
  top: 35%; /* Center vertically */
  right: 0px; /* Adjust the position as needed */
  transform: translateY(-50%); /* Center vertically */
}

.arrow-icon {
  font-size: 32px; /* Set your desired font size */
  display: inline-block;
  transform: rotate(0deg); /* Initial rotation angle */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.btn-danger{
    float: right;
}
