.listing-detail { /* Listing detail styling, Griding it up making it look nice*/
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


  .listing-detail h2 { /* Fixing the title to make it look nice*/
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
  }
.listing-image { /* Sizing and framing the image*/
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.listing-info {
  margin-top: 20px;
  font-weight: bold;
}

.listing-price { /* Green color because it represents money*/
  font-size: 24px;
  color: green;
}

.listing-description {
  margin-top: 10px;
  font-size: 18px;
}

.btn-primary {
    margin-top: 10px;
}
btn btn-success { /* Adjusting the buttons*/
  margin-top: 20px;
}

button{
    padding: 20px;
}

button:hover{
    background-color: #313131;
}

img:hover{
  transform: scale(1.03)
}
@media (max-width: 1024px) {
  /* Making the grid responsive for small screens.*/
  .listing-detail {
    grid-template-columns: 1fr !important;
  }
}
