<h1 id="tableLabel"> </h1>

<div class="row mb-3">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <input type="text" class="form-control" [(ngModel)]="nameFilter" placeholder="Type to filter by name...">
  </div>
  <div class="col-md-4">
    <input type="number" class="form-control" [(ngModel)]="maxPrice" placeholder="Type to filter by max price...">
  </div>
  <div class="col-md-2">
    <h4> {{ nameFilter }} {{ maxPrice !== null ? '| Max Price: ' + maxPrice : '' }}</h4>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-12 text-center">
    <button class="btn btn-primary" id="createbutton" [routerLink]="['/listingform', 'create', -1]">Create New Listing</button>
  </div>
</div>

<div class='row'>
  <div *ngFor='let listing of filteredListings' class='col-md-4'>
    <div class='card' [ngClass]="{'hover-effect': true}">
      <div class='image-container'>
        <img class='card-img-top' [src]='listing.displayImage ? listing.ImageUrl : listing.AdditionalImageUrl' alt='Card image cap'>
        <button class="toggle-button" (click)="toggleImage(listing)">
          <span class="arrow-icon">&#8250;</span> <!-- Chevron Right icon -->
        </button>
      </div>
      <div class='card-body' (click)="navigateToListingDetails(listing.ListingId)">
        <h5 class='card-title'>{{ listing.Name }}</h5>
        <div class="text">
          <p class='card-text'>{{ listing.Description }}</p>
          <p class="listing-rooms">{{ "Antall Rom:" + " " + listing.Rooms }}</p>
          <p class="listing-address">{{"Adresse: " + listing.Address }}</p>
          <p class='card-price'>Price: {{ listing.Price | convertToCurrency: 'Kr' }}</p>
        </div>
        <a [routerLink]="['/listingform', 'edit', listing.ListingId]" class='btn btn-primary'>Update</a>
        <a (click)="deleteListing(listing)" class='btn btn-danger'>Delete</a>
      </div>
    </div>
  </div>
</div>



